In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
from sklearn.linear_model import LogisticRegression

OBJECTIVE: The objective of this notebook is to create a model that will predict whether a given person lives in Yerushalayim or not based on certain features.

In [3]:
apt = pd.read_csv('ApartmentsDataset.csv')

In [4]:
for x in apt.columns:
    print(x, apt[x].isnull().sum())

name 0
number of floors in your building 1
elevator(y/n) 1
number of  apartments in your building 1
makolet on your street?(y/n) 1
Yerushalyim? (y/n) 1

In [5]:
apt = apt.drop('name', axis=1)

In [6]:
apt=apt.dropna()

In [7]:
for x in apt.columns:
    print(x, apt[x].isnull().sum())

number of floors in your building 0
elevator(y/n) 0
number of  apartments in your building 0
makolet on your street?(y/n) 0
Yerushalyim? (y/n) 0

In [8]:
apt.head()

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,2.0,n,4.0,y,n
1,4.0,y,16.0,n,y
2,4.0,n,8.0,n,n
3,6.0,n,12.0,y,n
4,6.0,n,28.0,y,y

In [9]:
apt['elevator(y/n)']= apt['elevator(y/n)'].replace('y',1)
apt['elevator(y/n)']= apt['elevator(y/n)'].replace('n',0)
apt['makolet on your street?(y/n)']= apt['makolet on your street?(y/n)'].replace('y',1)
apt['makolet on your street?(y/n)']= apt['makolet on your street?(y/n)'].replace('n',0)
apt['Yerushalyim? (y/n)']= apt['Yerushalyim? (y/n)'].replace('y',1)
apt['Yerushalyim? (y/n)']= apt['Yerushalyim? (y/n)'].replace('y ',1)
apt['Yerushalyim? (y/n)']= apt['Yerushalyim? (y/n)'].replace('n',0)

In [10]:
apt.head()

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,2.0,0,4.0,1,0
1,4.0,1,16.0,0,1
2,4.0,0,8.0,0,0
3,6.0,0,12.0,1,0
4,6.0,0,28.0,1,1

In [11]:
apt.describe()

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
count,52.000000,52.000000,52.000000,52.000000,52.000000
mean,4.875000,0.326923,16.673077,0.615385,0.846154
std,1.647562,0.473665,9.873159,0.491251,0.364321
min,2.000000,0.000000,3.000000,0.000000,0.000000
25%,3.875000,0.000000,8.750000,0.000000,1.000000
50%,5.000000,0.000000,15.000000,1.000000,1.000000
75%,6.000000,1.000000,25.000000,1.000000,1.000000
max,8.000000,1.000000,40.000000,1.000000,1.000000

In [12]:
for x in apt.columns:
    print(apt[x].value_counts().sort_index())

2.0     3
3.0     9
3.5     1
4.0     9
5.0    11
6.0    12
7.0     2
8.0     5
Name: number of floors in your building, dtype: int64
0    35
1    17
Name: elevator(y/n), dtype: int64
3.0     4
4.0     2
6.0     2
7.0     1
8.0     4
9.0     2
10.0    3
11.0    1
12.0    2
13.0    1
14.0    3
15.0    3
16.0    4
18.0    2
21.0    1
24.0    3
25.0    3
28.0    4
30.0    2
32.0    1
33.0    2
35.0    1
40.0    1
Name: number of  apartments in your building, dtype: int64
0    20
1    32
Name: makolet on your street?(y/n), dtype: int64
0     8
1    44
Name: Yerushalyim? (y/n), dtype: int64

It appears that 2/3 have elevators; majority have over 10 apts per building; most common is 3-6 floors; vast majority live in Yerushalyim;

In [13]:
apt.rename(columns={'number of floors in your building': 'floors', 'elevator(y/n)': 'elevator', 'number of apartments in your building': 'apts', 'makolet on your street?(y/n)': 'makolet', 'Yerushalyim? (y/n)': 'yerushalyim'}, inplace=True)

In [14]:
X= apt.drop('yerushalyim', axis=1)
y= apt['yerushalyim']

In [15]:
X_train, X_test, y_train, y_test= train_test_split(X, y)

In [21]:
model = LogisticRegression(max_iter= 500, penalty='l2',C=.5)
model.fit(X_train, y_train)
pred= model.predict(X_test)
print(pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1]

In [23]:
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.9230769230769231

In order to improve the model, one can add more rows of data to better train and test the model.  One can also add more features that directly correlate with the target.